@font-face {
    font-family: 'lato';
    src: url(./fonts/LatoBlack.ttf);
}

@font-face {
    font-family: 'oswald';
    src: url(./fonts/Oswald-Medium.ttf);
}

*{
   margin: 0;
   /* border: solid 1px yellow; */
   /* Un buen truco es poner aquí un border mientras de desarrolla la web, para así poder ver y colocar de manera correcta cada cosa */
}

.logo{
    height: 200px;
    padding-left: 35vw;
    margin-top: 4%;
}

/* Fuentes */

p, td{
    font-family: 'lato';
}

h2, th{
    font-family: 'oswald';
}

.menu li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#background{
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    z-index: -1;   
}

.titulo{
    color: rgb(178, 251, 255);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.menu {
    padding: 1% 11.5% 1% 11.5%;
    margin-top: 4%;
    background-color: #a9107986;

}

.menu li {
    border-radius: 15px 50px;
    background-color: #95f8ff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    padding: .5em;
  }

.menu li:hover{
    transition:all .5s ease-in-out;
    background-color: #BBE1FA;
    border:3px solid #8BBCCC;
    transform: scale(1.1);
}

.menu li a:visited{
    color: black;
    text-decoration: none;
}

.menu li a:hover{
    color: black;
    text-decoration: none;
}

.menu li a:link{
    color: black;
    text-decoration: none;
}

.entrada{
    text-align: center;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
    border: #A91079 5px solid;
    border-radius: 1vw;
    background-color: #ffd8f8a0;
}

.entrada h2, h3, p{
    margin: 2%;
}



footer{
    border-top: solid #A91079 8px;
    background-color: #a9107986;
    text-align: center;
    clear: both;
    padding: 1rem;
    color: white;
}

footer a{
    padding: .1rem;
}




