.foto{
    border: #A91079 5px solid;
    border-radius: 1vw;
}

div{
    /* display: flex; */
    /* justify-content: center; */
    padding-block: 2%;
}

#librodyc, #espalda, #frente, #donacion, #portadadyc{
    margin-left: 80px;
}

#discodyc{
    margin-left: 80px;
}

#frame{
    margin-left: 215px;
}

#reportaje{
    margin-left: 120px;
}

#homenaje{
    margin-left: 190px;
}

#portadaehdmc{
    margin-left: 358px;
}
